.card {
  width: fit-content;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.form input {
  width: 25rem;
}
.form select {
  width: 25rem;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .form input {
    width: 100%;
  }
  .form select {
    width: 100%;
  }
}
